openapi: 3.0.1
info:
  title: TOCIO API
  description: Acces aux données du projet TOCIO
  version: '0.1'
servers:
  - url: 'https://uboopenfactory.univ-brest.fr/data/passerelle/'
paths:
  /mesure/get:
    get:
      description: |-
        il est également possible de faire la requète en mode condensé sous la forme :
        **http://.../mesure/get/AA01**
      parameters:
        - name: moduleid
          in: query
          schema:
            type: string
          example: AA01
      responses:
        '200':
          description: Auto generated using Swagger Inspector
      tags:
        - Mesures
      summary: Renvoie les mesures faites par un module

  
  /mesure/add:
    get:
      description: |-
        Il est également possible d'écrire la requète sous la forme condensée :
        **http://..../mesure/add/[moduleid]/[mesures].**
      parameters:
        - name: moduleid
          in: query
          schema:
            type: string
          example: AA01
        - name: mesures
          in: query
          schema:
            type: string
          example: 052055-00112
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json; charset=UTF-8:
              schema:
                type: string
              examples: {}
      tags:
        - Mesures
      summary: "Enregistre les mesures d'un module. "
    
  /mesure/addlora:
    get:
      description: |-
         La payload doit être au format JSON comme défini dans le BackOffice de LORA. Cette URL est celle qu'il faut configurer dans le back-end de Lora.
      responses:
        '200':
          description: Insert OK
          content:
            application/json; charset=UTF-8:
              schema:
                type: string
              examples: {}
      tags:
        - Mesures
      summary: "Enregistre les mesures d'un module provenant du réseau LORA."
  /capteur/getcapteur:
    get:
      description: |-
        Renvoie un Capteur dont l'ID est passé en paramètre. 

        Il est également possible d'écrire la requète sous la forme condensée :
        **http://..../capteur/getcapteur/[capteurid].**
      parameters:
        - name: id
          in: query
          schema:
            type: string
          example: '1'
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json; charset=UTF-8:
              schema:
                type: string
              examples: {}
      tags:
        - Capteurs
      summary: Renvoie un Capteur
  /capteur/getcapteurs:
    get:
      description: Auto generated using Swagger Inspector
      responses:
        '200':
          description: Auto generated using Swagger Inspector
          content:
            application/json; charset=UTF-8:
              schema:
                type: string
              examples: {}
      tags:
        - Capteurs
      summary: Renvoie touts les Capteurs