//colors
$white: white;
$colorModule: #19a822;
$colorCapteur: #147d81;
$colorGrandeur: #D6741F;
$colorLocalisation: #FFB779;
$colorCarte: #4D9DA1;
$colorMethod: #004C4F;
$colorBalise: $colorMethod;

// Button definition ---------------------------------------------------------------------
.button {
	color: $white;
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 2;
	border-radius: .25rem;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.buttonModule {
	background-color: $colorModule;
}
.buttonCapteur {
	background-color: $colorCapteur;
}
.buttonMethod {
	background-color: $colorMethod;
}
.buttonCarte {
	background-color: $colorCarte;
}
.buttonLocalisation {
	background-color: $colorLocalisation;
}
.buttonGrandeur {
	background-color: $colorGrandeur;
}
.buttonBalise {
	background-color: $colorBalise;
}

// Border definition ---------------------------------------------------------------------
.borderModule {
	border-color: $colorModule;
}
.borderCapteur {
	border-color: $colorCapteur;
}
.borderMethod {
	border-color: $colorMethod;
}
.borderCarte{
	border-color: $colorCarte;
}
.borderLocalisation {
	border-color: $colorLocalisation;
}
.borderGrandeur {
	border-color: $colorGrandeur;
}
.borderBalise{
	border-color: $colorBalise;
}